@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  line-height: 1.45;
  font-family: theme('fontFamily.body');
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-2xl;
}

h1,h2,h3,h4,h5,h6 {
  font-family: theme('fontFamily.display');
}

p {
  font-size: 112%;
  letter-spacing: .015rem;
  color: theme('clr.bodytext');
}

.heading {
  font-family: theme('fontFamily.display');
  @apply text-3xl tracking-wide uppercase;
  fill: theme('clr.bodytext');
 }


 /* --------------------------------

 General: ui and design utilities

 -------------------------------- */


.speechbubble {
  margin: 1rem auto;
  -webkit-filter: drop-shadow(-4px 4px 0px rgba(0, 0, 0, .3));
  filter: drop-shadow( -4px 4px 0px rgba(0, 0, 0, .3));
  --transform-rotate: -2deg !important;
}
.with-massive-shade {
  -webkit-filter: drop-shadow(12px 3px 3px rgba(0, 0, 0, .4));
  filter: drop-shadow( 12px 3px 3px rgba(0, 0, 0, .4));
}

.button {
  @apply cursor-pointer;
  @apply p-6 pl-12 pr-12 text-center text-center text-white rounded-lg;
  transition: all .3s;
}

.button:hover, .button:focus {
  color: theme('clr.contrast');
  background: transparent;
  @apply bg-gray-400 font-normal;
}
.button:active {
  transform: scale(0.95);
}

.button-primary {
  background: linear-gradient(170deg, theme('clr.compliment') 0%, navy 80% );
}

.button-secondary {
  background: linear-gradient(170deg, theme('clr.primary') 0%, theme('clr.contrast') 80% );
}


/* --------------------------------

BLock: Contact Form

-------------------------------- */

form {
  input {
    transition: all .125s;
  }
  label[for] {
    @apply block uppercase tracking-wide text-gray-700 text-sm font-light mb-2;
  }
  input.text, textarea.area{
      @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
  }
  input:focus {
    @apply outline-none bg-white border-gray-500
  }
  .--isError {
    @apply text-orange-500 text-xs italic mb-2 mt-3;
  }
}

/* --------------------------------

Section: Layout Utilities

-------------------------------- */

.wrapper {
  @apply max-w-6xl w-full ml-auto mr-auto pl-8 pr-8 mt-24
}

.wrapper-grid {
  @apply .wrapper;
  /*  comment shuold run new build again*/
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nytt-gagg sidospar"
    "nytt-gagg tackar";

  grid-gap: theme('spacing.16') theme('spacing.24');

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nytt-gagg"
        "sidospar"
        "tackar";
  }
}

#g-nytt { grid-area: nytt-gagg / nytt-gagg / nytt-gagg / nytt-gagg;}
#g-sido { grid-area: sidospar / sidospar / sidospar / sidospar;}
#g-tack { grid-area: tackar / tackar / tackar / tackar;}


.article-slim {
  @apply max-w-2xl m-auto;
}

.breakout {
  @media(min-width: 769px) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.full-bleed {
  @apply w-screen;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* --------------------------------

Block: Kabang Hero Splash

-------------------------------- */


.hero-splash {
  @apply flex justify-center items-center h-full;
  background: linear-gradient(theme('clr.primary'), theme('clr.contrast'));
}
.hero {
  @apply w-screen h-screen;
  background: repeating-conic-gradient(theme('clr.contrast') 0% .5*100%/18, transparent 0% 100%/18);
}

/* --------------------------------

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */

.stack-cards {
  --stack-cards-gap: theme('spacing.8');
}

.stack-cards__item {
  position: relative;
  position: sticky;
  top: theme('spacing.8');
  height: 0;
  padding-bottom: 50%;
  transform-origin: center top;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* --------------------------------

Block: Triptych

-------------------------------- */

.triptych {}

.triptych__img-wrapper img {
  width: 100%;
  display: block;
}

.triptych__label {
  @apply bg-gray-300 p-10;
}

.triptych__grid {
  > * {
    margin-bottom: theme('spacing.4');
  }

  @include breakpoint(md) {
    > :nth-child(1), > :nth-child(2), > :nth-child(3) {
      width: 32%;
      float: left;
    }

    > :nth-child(1), > :nth-child(2) {
      margin-right: 2%;
    }

    > :nth-child(4) {
      clear: both;
    }
  }
}

@supports (grid-area: auto) {
  .triptych__grid {
    display: grid;
    grid-gap: theme('spacing.16');

    > * {
      margin: 0 !important;
      width: auto !important;
      float: none !important;
    }
  }

  @include breakpoint(md) {
    .triptych__grid {
      grid-template-columns: repeat(12, 1fr);

      > :nth-child(1) {
        grid-column: span 5;
      }

      > :nth-child(2) {
        grid-column: span 7;
      }

      > :nth-child(3) {
        grid-column: span 9;
      }

      > :nth-child(4) {
        grid-column: span 3;
      }
    }
  }

  @include breakpoint(xl) {
    .triptych__grid {
      grid-gap: theme('spacing.12');
      grid-template-rows: repeat(12, 50px);

      > :nth-child(1) {
        grid-column: 1 / 4;
        grid-row: 1 / 7;
      }

      > :nth-child(2) {
        grid-column: 1 / 4;
        grid-row: 7 / -1;
      }

      > :nth-child(3) {
        grid-column: 4 / 11;
        grid-row: 1 / -1;
      }

      > :nth-child(4) {
        grid-column: 11 / 13;
        grid-row: 1 / -1;
      }
    }

    .triptych__img-wrapper img {
      object-fit: cover;
      height: 100%;
    }

    .triptych__label {
      display: flex;

      p {
        margin-top: auto;

        &::before {
          content: '';
          display: block;
          height: 80px;
          width: 1px;
          background-color: theme('clr.compliment');
          margin-bottom: theme('spacing.16');
        }
      }
    }
  }
}
