@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./vars.css";

html {
  line-height: 1.45;
  font-family: theme('fontFamily.body');
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-2xl;
}

h1,h2,h3,h4,h5,h6 {
  font-family: theme('fontFamily.display');
}

p {
  font-size: 112%;
  letter-spacing: .015rem;
  color: theme('clr.bodytext');
}

.button {
  @apply p-6 text-center text-center rounded-lg;
  background: linear-gradient(170deg, theme('clr.compliment'), navy 80% )
}

.wrapper {
  @apply max-w-6xl w-full ml-auto mr-auto pl-8 pr-8 mt-24
}

.wrapper-grid {
  @apply .wrapper;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nytt-gagg sidospar"
    "nytt-gagg tackar";

  grid-gap: theme('spacing.16') theme('spacing.24');

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "nytt-gagg"
        "sidospar"
        "tackar";
  }
}

#g-nytt { grid-area: nytt-gagg / nytt-gagg / nytt-gagg / nytt-gagg;}
#g-sido { grid-area: sidospar / sidospar / sidospar / sidospar;}
#g-tack { grid-area: tackar / tackar / tackar / tackar;}


.article-slim {
  @apply max-w-2xl m-auto;
}

.breakout {
  margin-left: -2rem;
  margin-right: -2rem;

}

.full-bleed {
  @apply w-screen;
  margin-left: 50%;
  transform: translateX(-50%);
}
